            body {
                height: auto;
                margin: 0%;
                max-width: inherit;
            }
            header h1 {
                background-color: grey;
                text-align: right;
                margin: 0%;
                padding: 20px;
            }

            #navigate {
                position: sticky;
                top: 0%;
                z-index: 1;
            }

            .menu {
                margin: 0%;
                background-color: rgb(0,0,0,0.5);
            }
            .menu li {
                display: inline-block;
                padding: 10px;
            }

            .menu li a {
                color: black;
                font-size: 20px;
                text-decoration: none;
            }

            .menu li:hover{
                background-color: rgba(0,0,0,0.7);
            }
            .menu li:nth-child(2):hover #Dropdown_1{
                display: block;
            }
            .menu li:nth-child(3):hover #Dropdown_2{
                display: block;
            }

            #Dropdown_2, #Dropdown_1 {
                position: absolute;
                width: auto;
                max-width: 150px;
                display: none;
                background-color: whitesmoke;
                padding: 0%;
            }

            #Dropdown_2 li, #Dropdown_1 li {
                display: block
            }

            #Dropdown_2 li a, #Dropdown_1 li a {
                color: steelblue;
                font-size: 16px;
            }

            #Dropdown_2 li:hover, #Dropdown_1 li:hover {
                background-color: gainsboro;
            }
#footer {
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:black;
   text-align: right;
   color: white;
}
.slideshow-container {
  max-width: 99%;
    max-height: 30%;
  position: relative;
  margin: 10px;
    border: 2px solid steelblue;
    
}
.kit-container {
   max-width: 99%;
    max-height: 30%;
  position: relative;
  margin: auto;
    border: 2px solid black; 
    display: block;
}
.wrapper{
    animation: slide 10s infinite;
    display: flex;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.slideshow-img{
    width: 90%;
}
.product-img{
    height: 150px;
    width: 250px;
    position: relative;
}
.kit-tile{
    background-color: ghostwhite;
    float: center;
  max-width: 25%;
    width: 25%;
  padding: 40px;
  margin:20px;
  height: 250px;
    border: 1px solid #808080;
    box-shadow:  -1px 1px #808080,
         -2px 2px #808080,
         -3px 3px #808080,
         -4px 4px #808080,
         -5px 5px #808080;
    overflow: hidden;
}
.kit-tile:hover{
    height: 300px;
    width: 30%;
}
.prod-wrapper {
    display: inline-flex;
    max-width: 100%;
}
.prod-segment-container{
    text-align: left;
    padding-left: 0.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    max-width: inherit;
    
}

.form-tile{
  background-color: ghostwhite;
    float: center;
  max-width: 95%;
  
  margin:100px;
  height: 50%;
    display: flex;
    max-height: 50%;
    width: 90%;
    position: fixed;
    border: 1px solid #808080;
    box-shadow:  -1px 1px #808080,
         -2px 2px #808080,
         -3px 3px #808080,
         -4px 4px #808080,
         -5px 5px #808080;
    overflow-y: scroll;
    
}
.form-img{
    height: 50%;
    width: 50%;
    position: fixed;
    overflow: hidden;
}
.form-tile-element{
    max-width: 50%;
    width: 50%;
}
.add-to-cart{
    width: 100%;
    
}
button b {
    color: orange;
}
.add-to-cart:active {
    background-color: rgb(250, 234, 230);
}
.form-tile{
    
}